#cart-sidebar {
  position: absolute;
  height: 90vh;
  width: 0;
  top: 70px;
  right: 0;
  z-index: 99;
  background-color: white;
  border-left: solid 1px #e5e5e5;
  padding: 0;
  font-size: 0.9em;
  transition-property: width,padding;
  transition-duration: 0.5s, .5s;
  overflow: hidden;
  transition-timing-function: ease-in, step-end;

  .cart-sidebar-checkout {
    background-color: $ZIP-light-black-text;
    position: absolute;
    bottom: 1em;
    width: 80%;
    color: #ffffff;
    text-align: center;
    padding: 1.5em 0;
    margin: 0 6%;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: .25em;
  }

  &.has-empty-cart .cart-sidebar-checkout {
    display: none;
  }

  .cart-item {
    margin-bottom: 1.2em;
    position: relative;
    white-space: nowrap;
    padding-right: .5em;
  }

  .cart-item-remove {
    background: url(/images/delete-icon.png) no-repeat;
    width: 1.3em;
    height: 1.3em;
    background-size: contain;
    position: absolute;
    right: 0;
    margin-right: .5em;
    display: none;
  }

  .cart-item-name {
    margin-bottom: 1em;
  }

  .cart-item-qty {
    float: left;
    width: 50%;
    color: #8d8d8d;
    &:before {
      content: 'x';
      margin-right: .2em;
    }
  }

  .cart-item-price {
    text-align: right;
    color: #8d8d8d;
  }

  .cart-summary-container {
    .cart-item-name {
      float: left;
      width: 50%;
    }
    .cart-item-price {
      color: inherit;
    }
  }
}

.show-cart {
  #cart-sidebar {
    padding: 2em 1em 1em;
    width: 300px;
    transition-timing-function: ease-in, step-start;
    .cart-item-remove {
      display: initial;
    }
  }
  main {
    /*width: calc(100vw - 300px);*/
    left: -300px;
  }
}

body.no-cart {
  #cart-sidebar {
    display: none !important;
  }
  .cart-item-remove {
    display: none !important;
  }
}
