#catering-page {
  main {
    max-width: $ZIP-max-desktop-width;
    margin: 4em auto;
    p {
      color: $ZIP-light-black-text;
      margin: 0 auto;
      text-align: center;
      padding: 0 25% 1.5em 25%;
      border-bottom: 1px solid $ZIP-grey-rule;
    }
    h1 {
      text-align: center;
    }
    .product-list-container {
      margin: 3em 0 5em;
    }
    .category-list-container {
      margin-top: 2em;
    }
  }
  .product-overlay-container {
    .product-overlay-right {
      display:none;
    }
    .product-overlay-left {
      width: 100%;
      float: none;
    }
  }
}
