#catering-page {
  main {
    max-width: $ZIP-max-desktop-width;
    margin: 4em auto;
    p {
      color: $ZIP-light-black-text;
      margin: 0 auto;
      text-align: center;
      padding: 2.5em 10%;
      border-bottom: 1px solid $ZIP-grey-rule;
      font-family: Archia, sans-serif;
    }
    h1 {
      text-align: center;
      display: none;
    }
    .product-list-container {
      margin: 3em 0 5em;
    }
    .category-list-container {
      margin-top: 3.5em;
    }
  }
  /*
  .product-overlay-container {
    .product-overlay-right {
      display:none;
    }
    .product-overlay-left {
      width: 100%;
      float: none;
    }
  }
  */
}
