$ZIP-light-beige: #fefff8;
$ZIP-dark-beige: #f2f4ea;
$ZIP-green: #83a02b;
$ZIP-mid-screen: "(max-width: 976px)";
$ZIP-midsmall-screen: "(max-width: 1000px)";
$ZIP-small-screen: "(max-width: 800px)";
$ZIP-max-desktop-width: 1000px;
$ZIP-black-text: #000000;
$ZIP-black-background: #333333;
$ZIP-light-black-text: #cbcbcb;
$ZIP-grey-rule: #e5e5e5;