
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Archia, sans-serif;
  font-weight:700;
}

body {
  font-family: Archia, sans-serif;
  font-size: 12pt;
  color: #222222;
  text-align: left;
}

a {
  color: #222222;
  text-decoration: none;
  &:hover {
    color: #000000;
  }
}

p {
  font-family: "Source Serif Pro", serif;
  font-weight: normal;
  font-size: .9rem;
}

table {
  width: 100%;
}

input {
  font-family: Archia, sans-serif;
  &::placeholder {
    color: #cccccc;
  }
}
h2 {
  font-weight:900;
  font-size:3.2rem;
}
h3 {
  font-size: 1rem;
}

.boxed {
  padding: 0.6em 0.5em;
  border-radius: 0.3em;
  border: 2px solid #000000;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
  font-size: .9rem;
  background: transparent;
}

.content-area {
  min-width: 470px;
  max-width: 1000px;
  margin: 0 auto;
  overflow: visible;
  width: 65%;
}

.clearfix:after, .clearfix:before {
  content: '';
  clear: both;
  display: block;
}
