
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Archia, sans-serif;
  font-weight: 700;
}

body {
  font-family: Archia, sans-serif;
  font-size: 12pt;
  color: $ZIP-black-text;
  text-align: left;
  letter-spacing: .08em;
}

main {

}

a {
  color: $ZIP-black-text;
  text-decoration: none;
  &:hover {
    color: #000000;
  }
}

p {
  font-family: "Source Serif Pro", serif;
  font-weight: normal;
  font-size: 1.3rem;
  letter-spacing: initial;
}

table {
  width: 100%;
}

input {
  font-family: Archia, sans-serif;
  letter-spacing: .08em;
  &::placeholder {
    color: $ZIP-grey-rule;
  }
}

h2 {
  font-weight: 900;
  font-size: 3.2rem;
}

h3 {
  font-size: 1rem;
}

.boxed {
  padding: 0.6em 0.5em;
  border-radius: 0.3em;
  border: 2px solid #000000;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.1em;
  background: transparent;
}

.content-area {
  min-width: 470px;
  max-width: $ZIP-max-desktop-width;
  margin: 0 auto;
  overflow: visible;
  width: 65%;
}

.clearfix:after, .clearfix:before {
  content: '';
  clear: both;
  display: block;
}

.minus-icon {
  background: url(/images/add-to-cart-minus.png);
}

.plus-icon {
  background: url(/images/add-to-cart-plus.png);
}

.add-to-cart-icon {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

#item-templates {
  display: none;
  visibility: hidden;
  height: 0;
  width: 0;
}