#landing-page {
  main {
    max-width: 100vw;
  }
  section {
    text-align: center;
  }
}

#section-delivered-today {
  background: url(/images/landing-background.png) repeat $ZIP-dark-beige;
  padding: 0;
  .content-area {
    background-color: transparent; /*$ZIP-dark-beige;*/
  }
  .delivered-today-preface {
    max-width:600px;
    background: $ZIP-dark-beige;
    padding-bottom: 2em;
    margin: 0 auto;
  }
  h2 {
    display: inline-block;
    padding: 0em 0.5em 0em;
    background: transparent;
    margin: 2em 0 1em;
    text-shadow: 1px 1px 0 #ffffff, -1px 1px 0 #ffffff, 1px -1px 0 #ffffff, -1px -1px 0 #ffffff;
    color: #515150;
  }
  p {
    margin: 0 auto;
    padding: 0em 1em 1em;
    font-size: 1.4rem;
    font-family: Archia, sans-serif;
  }
  #delivered-today-order-now {
    margin-top: 1em;
    padding: 0.9em 2em;
  }
  #todays-deliveries {
    margin: 0 auto;
    text-align: left;
    background-color: transparent; /*$ZIP-dark-beige;*/
    .todays-date {
      text-align: center;
      margin: 0 auto ;
      padding-bottom: 1.1em;
      text-transform: uppercase;
      line-height: 1.5em;
      color: #333333;
      font-weight: 700;
      letter-spacing: .07em;
      background-color: $ZIP-dark-beige;
      max-width: 600px;
      &:before {
        content: 'Arrivals';
        display: block;
      }
    }
  }
}

#section-subscribe {
  background: $ZIP-light-beige;
  padding: 4em 0;
  p {
    font-size: 1.35em;
    max-width: 75%;
    margin: 0 auto 2em;
    text-align: center;
    min-width: 615px;
  }
  .subscribe-email-address {
    line-height: 1.2em;
    padding: 0.5em 0.75em;
    width: 50%;
    margin-right: 0.5em;
    background: $ZIP-dark-beige;
    border: 0 none transparent;
    border-radius: 0.2em;
    font-size: 1.3rem;
  }
  #main-subscription-form input {
    @media #{$ZIP-small-screen} {
      display: block;
      max-width: 300px;
      width: 100%;
      margin: 0 auto .7em auto;
    }
  }
}

#section-quick-order {
  background: url('/images/clamshell.png') repeat;
  padding: 4em 0;
  li {
    background: none center bottom no-repeat #ffffff;
    padding: 3em 3em 0;
    width: 20em;
    height: 20em;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    @media #{$ZIP-midsmall-screen}{
      display: block;
      margin: .3em auto;
    }
    &#quick-link-where-to-start {
      background-image: url("/images/quick-order-1.png");
    }
    &#quick-link-sushi-expert {
      background-image: url("/images/quick-order-2.png");
    }
    &#quick-link-planning-event {
      background-image: url("/images/quick-order-3.png");
    }
    h3 {
      font-size: 1.35em;
      max-width: 75%;
      height: 3.5em;
      letter-spacing: 0.02em;
      margin-bottom: .25em;
    }
    span.quick-order-anchor:after {
      content: '\02192';
      font-size: 1.5em;
      margin-left: .5em;
      font-family: sans-serif;
    }
  }
}

#section-favorites {
  padding: 7em 0 6em;
  h2 {
    margin-bottom: .5em;
  }
  .product-list-container {
    margin: 3.5em auto 5em;
  }
  #favorites-order-now {
    padding: 0.9em 2em;
  }
}

#section-process {
  text-align: center;
  border-top: 1px solid $ZIP-grey-rule;
  border-bottom: 1px solid $ZIP-grey-rule;
  padding: 4em 0 5.5em;
  dl {
    margin: 0 auto;
    position: relative;
    text-align: center;
  }
  dd {
    display: inline-block;
    width: 30%;
    margin: 2em 0 0;
    padding: 0 2em;
    position: relative;
    vertical-align: top;
    font-size: 0.9rem;
    max-width: 315px;
    img {
      display: block;
      max-width: 150px;
      margin: 0 auto 1.5em;
    }
  }
  @media #{$ZIP-midsmall-screen} {
    display: none;
  }
}

#section-sourcing {
  padding: 11em 0 11.5em;
  border-bottom: 1px solid $ZIP-grey-rule;
  .content-area {
    text-align: left;
    width: 75%;
    position: relative;
    @media #{$ZIP-midsmall-screen} {
      width: 100%;
      padding: 0 3em;
    }
  }
  .section-sourcing-content {
    display: inline-block;
    width: 35%;
    @media #{$ZIP-midsmall-screen} {
      display: block;
      width: initial;
      max-width: 400px;
      margin: 0 auto;
      text-align: left;
    }
  }
  img {
    float: right;
    margin: 1em 0 0 0;
    width: 50%;
    vertical-align: top;
    @media #{$ZIP-midsmall-screen} {
      float: none;
      display: block;
      margin: 3em auto 1em;
      width: initial;
      max-width: 100%;
    }
  }
  h2 {
    padding: 3em 0 1em;
    font-size: 2em;
  }
  p {
    line-height: 1.4em;
  }
  #todays-sources {
    position: absolute;
    right: 25%;
    width: 40%;
    height: 100px;
    background: #ffffff;
    border: 3px dotted #ff0000;
    padding: 1em;
    bottom: -5%;
    max-width: 200px;

    @media #{$ZIP-midsmall-screen} {
      right: 15%;
      width: 40%;
      top: 45%;
    }
  }
}

#section-philosophy {
  .content-area {
    text-align: right;
    width: 75%;
    position: relative;
    @media #{$ZIP-midsmall-screen} {
      width: 100%;
      padding: 0 3em;
    }
  }
  .section-philosophy-content {
    display: inline-block;
    text-align: right;
    width: 35%;
    @media #{$ZIP-midsmall-screen} {
      display: block;
      width: initial;
      max-width: 400px;
      margin: 0 auto;
      text-align: left;
    }
  }
  .order-now-button {
    display: none;
    text-align: center;
    width: min-content;
    white-space: nowrap;
    margin: 2em auto;
    @media #{$ZIP-midsmall-screen} {
      display: block;
    }
  }
  img {
    float: left;
    margin: 0;
    width: 50%;
    vertical-align: top;
    @media #{$ZIP-midsmall-screen} {
      float: none;
      display: block;
      margin: 3em auto 1em;
      width: initial;
      max-width: 100%;
    }
  }
  h2 {
    padding: 7.5em 0 1em;
    font-size: 2em;
  }
}
