#menu-page main {
  padding-top: 3em;
  max-width: $ZIP-max-desktop-width;
  margin: 0 auto;
}

.category-item-container {
  margin-bottom: 5em;
}

.category-item-description {
  max-width: 30%;
  color: #8d8d8d;
}

.category-item-preface {
  height: 160px;
  background: #fcfcfc center right 30% no-repeat;
  padding: 1rem 0 0 1.5rem;
}

.category-item-title {
  margin: 1em 0 .5em;
  font-size: 1.5em;
  font-weight: bold;
}

nav.menu-nav-container {
  position: absolute;
  top: .7em;
  left: 20%;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li.menu-nav-link {
      display: inline-block;
      margin: 1em .5em;
      a {
        padding-bottom: 1.3em;
        color:#cbcbcb;
      }
      &:hover a {
        font-weight: 900;
        border-bottom: 2px solid black;
        color:#000000;
      }
    }
  }
}