/* Product box background colors */
.product-color-1 {
  background-color: rgb(242, 244, 235);
}

.product-color-2 {
  background-color: rgb(242, 246, 248);
}

.product-color-3 {
  background-color: rgb(243, 246, 248);
}

.product-color-4 {
  background-color: rgb(246, 248, 240);
}

.product-color-5 {
  background-color: rgb(247, 244, 244);
}

.product-color-6 {
  background-color: rgb(247, 247, 241);
}

.product-color-7 {
  background-color: rgb(251, 250, 246);
}

.product-color-8 {
  background-color: rgb(252, 252, 249);
}

.product-color-9 {
  background-color: rgb(252, 252, 252);
}

.product-item-title {
  font-size: 1.25rem;
  margin-bottom: 0.25em;
  color: #222222;
  line-height: 1em;
}

.product-item-desc {
  margin-bottom: .2em;
}

.product-item-description {
  margin-bottom: .5em;
}

.product-item-flags-container {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
}

.product-item-flag {
  width: 24px;
  height: 23px;
  display: inline-block;
}

.i-gluten-free {
  background-image: url('/images/product-flag-gf.png');
}

.product-item-flag-sf {
  background-image: url('/images/product-flag-sf.png');
}

.product-item-flag-vg {
  background-image: url('/images/product-flag-vg.png');
}

.product-list-container {
  .product-item-container {
    height: 350px;
    width: 240px;
    padding: 2.5em 0 1em;
    margin: 2px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    .product-item-image {
      display: block;
      margin: 0 auto;
      max-width: 240px;
      text-align: center;
      img {
        max-width: 90%;
        max-height: 150px;
      }
    }
    .product-item-description-container {
      position: absolute;
      bottom: 0;
      display: block;
      vertical-align: bottom;
      margin-bottom: 1em;
      padding: 0 1em;
      font-size: 0.8em;
      color: $ZIP-light-black-text;
      left: 1em;
      right: 1em;
      text-align: left;
    }

  }
}

.product-overlay-container {
  position: fixed;
  z-index: 10;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  .product-overlay-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #383838; /*#30380d;*/
    opacity: .8;
  }
  .product-overlay-close {
    width: 16px;
    height: 16px;
    background: url('/images/close-icon.png');
    position: absolute;
    top: 1em;
    right: 1em;
  }
  .product-overlay-contents {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 700px;
    height: 80%;
    margin: 0 auto;
    overflow-y: scroll;
    .product-item-flags-container {
      left: 0;
      right: initial;
    }
  }
  .product-overlay-left {
    width: 60%;
    float: left;
    padding: 1.5em;
  }
  .product-overlay-right {
    float: right;
    width: 39%;
    background-color: #ffffff;
    padding: 1.5em;
    height: 100%;
  }
  .product-item-image {
    margin: 0 auto 3em;
    padding: 3em 0;
    height: 20em;
    display: block;
    vertical-align: middle;
    text-align: center;
    &:before {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      content: '';
    }
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .product-item-description-container {
    margin: 2em 0;
    position: relative;
    padding-bottom: 40px;
  }
  .product-item-title {
    font-size: 2.25rem;
  }
  .product-item-desc {
    color: $ZIP-light-black-text;
    margin: 1em 0 .5em;
    display: inline;
  }
  .product-item-price {
    display: inline;
    color: $ZIP-light-black-text;
    &:before {
      content: " \022c5 ";
      display: inline;
      padding: 0 .4em 0 0;
    }
  }
  form.product-overlay-form {
    margin-top: 2em;
    text-align: center;
    .add-to-cart-quantity {
      line-height: 1.4em;
      font-size: 1rem;
      vertical-align: middle;
      border: 0 none;
      background: $ZIP-dark-beige;
      padding: .5em;
      text-align: center;
      max-width: min-content;
    }
    .add-to-cart-icon {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin: 1em;
    }
    .add-to-cart-submit {
      background: $ZIP-green;
      max-width: 80%;
      margin: 2em auto;
      padding: 1em;
      color: white;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: .05em;
      cursor: pointer;
    }
  }
}