.product-list-container {
  text-align:center;
}
.product-item-container {
  height: 350px;
  padding: 3em 0em 1em;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  position: relative;
  max-width: min-content;
  min-width: min-content;
}
.product-item-image {
  display: block;
  margin: 0 auto;
  max-width: max-content;
}
.product-item-description-container {
  position: absolute;
  bottom: 0;
  display: block;
  vertical-align: bottom;
  margin-bottom: 1em;
  padding: 0 1em;
  font-size: 0.8em;
  color: #aaaaaa;
  left: 1em;
  right: 1em;
}
.product-item-title {
  font-size: 1.25rem;
  margin-bottom: .5em;
  color:#333333;
}
.product-item-description {
  margin-bottom: .5em;
}
.product-item-flags-container {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
}
.product-item-flag {
  width:24px;
  height:23px;
  display:inline-block;
}
.product-item-flag-gf {
  background-image: url('/images/product-flag-gf.png');
}
.product-item-flag-sf {
  background-image: url('/images/product-flag-sf.png');
}
.product-item-flag-vg {
  background-image: url('/images/product-flag-vg.png');
}