#sign-in-page main {
  background: url(/images/landing-background.png) repeat #eaecdd;
  padding: 1px;
  max-width: 100vw;
}

.sign-in-container {
  max-width: 500px;
  margin: 5em auto;
  text-align: center;
  background: #ffffff;
  color: $ZIP-light-black-text;
}

.sign-in-header {
  text-align: left;
  font-size: 1.5em;
  background: $ZIP-dark-beige;
  padding: 2em 1.5em 1.5em;
  font-weight: 900;
  color: $ZIP-black-background;
}

.sign-in-controls {
  padding: 2em 1em;
  color: $ZIP-light-black-text;
}

#create-account-form, #sign-in-credentials {

  .sign-in-create, .sign-in-link {
    display: inline-block;
    width: 45%;
    font-size: .8rem;
    margin-top: 2rem;
    a {
      color: $ZIP-light-black-text;
      text-decoration: underline;
    }
  }
}

.sign-in-submit {
  display: inline-block;
  width: 40%;
  input[type="submit"] {
    background: $ZIP-green;
    color: #ffffff;
    padding: 1em 2em;
    text-transform: uppercase;
    border: 0px none;
  }
}

.sign-in-facebook {
  background: #395692;
  color: #ffffff;
  padding: 1em;
  width: 50%;
  margin: 0 auto;
  line-height: 28px;
  &:before {
    display: inline-block;
    background: url(/images/facebook-icon.png) no-repeat;
    content: '';
    width: 28px;
    height: 28px;
    background-size: contain;
    vertical-align: middle;
    margin: -2px .75em 0 0;
  }
}

.sign-in-separator {
  margin: 3.25em;
  border-top: 1px solid $ZIP-grey-rule;
  &:before {
    content: 'or';
    text-transform: uppercase;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    background: #ffffff;
    padding: 0 1.5em;
  }
}